<script type="text/javascript">
<!--
  function doSearch(query) {
    var extent = getMapExtent();

    $("#sidebar_title").html("<%= t 'site.sidebar.search_results' %>");
    $("#sidebar_content").load("<%= url_for :controller => :geocoder, :action => :search %>", {
      query: $("#query").val(),
      minlon: extent.left,
      minlat: extent.bottom,
      maxlon: extent.right,
      maxlat: extent.top
    }, openSidebar);
  }

  $(document).ready(function () {
    $("#search_form").submit(function (event) {
      doSearch($("#query").val());

      return false;
    });

    $("#search_whereami").click(function() {
      var center = getMapCenter();
      var zoom = getMapZoom();

      $("#sidebar_title").html("<%= t 'site.sidebar.search_results' %>");
      $("#sidebar_content").load("<%= url_for :controller => :geocoder, :action => :description %>", {
        lat: center.lat,
        lon: center.lon,
        zoom: zoom
      }, openSidebar);
    });

    <% if @user and !@user.home_lon.nil? and !@user.home_lat.nil? -%>
    $("#search_home").click(function() {
      setPosition(<%= @user.home_lat %>, <%= @user.home_lon %>);
    });
    <% end -%>
  });
// -->
</script>

<% content_for :masthead do -%>
<div id="search_container">
  <%= form_tag "#", :id => "search_form" do %>
    <%= text_field_tag :query, h(params[:query]), :tabindex => "1" %><%= image_submit_tag "search_20px.png", :id => "submit" %>
  <% end %>
  <ul id="search_links">
    <li><a id="search_whereami" href="#" title="<%= t 'site.search.where_am_i_title' %>"><%= t 'site.search.where_am_i' %></a></li>
    <% if @user and !@user.home_lon.nil? and !@user.home_lat.nil? -%>
    <li><a id="search_home" href="#"><%= t 'layouts.home' %></a></li>
    <% end -%>
  </ul>
</div>
<% end -%>
